# Sentinel Hub Feature Info Service (FIS)

A statistical summary of satellite indices can be requested via the FIS feature. Examples of extracting time-series statistics data of Sentinel-2 and Sentinel-5P indices are provided.<br>

**Note: Cloud mask values have been included along with the obtained statistics values of Sentinel-2 indices in the following examples.**

In [1]:
# import libraries
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import cm
from shapely.geometry import Polygon
import geopandas as gpd

from sentinelhub import FisRequest, BBox, Geometry, CRS, WcsRequest, CustomUrlParam, \
    DataCollection, HistogramType, bbox_to_dimensions
from sentinelhub.time_utils import iso_to_datetime

In [2]:
# sentinel hub configurations
from sentinelhub import SHConfig


INSTANCE_ID = ''  # In case you put instance ID into configuration file you can leave this unchanged

if INSTANCE_ID:
    config = SHConfig()
    config.instance_id = INSTANCE_ID
else:
    config = None

## Parameters of FIS request


* `layer` -   name of the layer defined in Sentinel Hub Configurator.
* `geometry_list` - list of geometry objects (BBox or Geometry), statistics will be calculated for each of them separately
* `time` - statistics will be calculated for each acquisition in the give time interval separately 
* `resolution` - spatial resolution on which to calculate statistics 
* `data_folder` - optional parameter for specifying location where the data should be saved locally 
* `bins` - The number of bins (a positive integer) in the histogram. When this parameter is absent, no histogram is computed.
* `histogram_type` - ways of dividing values into bins currently supported: EQUIDISTANT, EQUALFREQUENCY, or STREAMING

In [3]:
def fis_data_to_dataframe(fis_data):
    """ Creates a DataFrame from list of FIS responses
    """
    COLUMNS = ['channel', 'date', 'min', 'max', 'mean', 'stDev']
    data = []

    for fis_response in fis_data:
        for channel, channel_stats in fis_response.items():
            for stat in channel_stats:
                row = [int(channel[1:]), iso_to_datetime(stat['date'])]

                for column in COLUMNS[2:]:
                    row.append(stat['basicStats'][column])

                data.append(row)

    return pd.DataFrame(data, columns=COLUMNS).sort_values(['channel', 'date'])

In [4]:
# NDVI request
def ndvi_request(city_shp, start_date, end_date, city_name):
    geometry = Geometry(city_shp.geometry.values[0], crs=CRS.WGS84)
    time_interval = (start_date, end_date)
    ndvi_stats_fis = FisRequest(
        data_collection=DataCollection.SENTINEL2_L2A,
        layer='NDVI',
        geometry_list=[geometry],
        time=time_interval,
        resolution='100m',
        bins=20, # remove this if distribution values not needed
        histogram_type=HistogramType.EQUIDISTANT, # remove this if distribution values not needed
        config=config
    )
    ndvi_stats = ndvi_stats_fis.get_data()  
    ndvi_stats_df = clean_df(ndvi_stats)
    ndvi_stats_df.to_csv(f'ndvi-{city_name}.csv')
    return ndvi_stats_df

# NDBI request
def ndbi_request(city_shp, start_date, end_date, city_name):
    geometry = Geometry(city_shp.geometry.values[0], crs=CRS.WGS84)
    time_interval = (start_date, end_date)
    ndbi_stats_fis = FisRequest(
        data_collection=DataCollection.SENTINEL2_L2A,
        layer='NDBI',
        geometry_list=[geometry],
        time=time_interval,
        resolution='100m',
        bins=20, # remove this if distribution values not needed
        histogram_type=HistogramType.EQUIDISTANT, # remove this if distribution values not needed
        config=config
    )
    ndbi_stats = ndbi_stats_fis.get_data()  
    ndbi_stats_df = clean_df(ndbi_stats)
    ndbi_stats_df.to_csv(f'ndbi-{city_name}.csv')
    return ndbi_stats_df

# NO2 request
def no_request(city_shp, start_date, end_date, city_name):
    geometry = Geometry(city_shp.geometry.values[0], crs=CRS.WGS84)
    time_interval = (start_date, end_date)
    no_stats_fis = FisRequest(
        data_collection=DataCollection.SENTINEL5P,
        layer='NO2',
        geometry_list=[geometry],
        time=time_interval,
        resolution='100m',
        config=config
    )
    no_stats = no_stats_fis.get_data()  
    no_stats_df = clean_df(no_stats)
    no_stats_df.to_csv(f'no2-{city_name}.csv')
    return no_stats_df

In [5]:
# convert to clean df ready for analysis
def clean_df (json_stats):
    raw_df_stats = fis_data_to_dataframe(json_stats).reset_index(drop=True)
    index_df = raw_df_stats[raw_df_stats.channel ==0]
    cloud_df = raw_df_stats[raw_df_stats.channel ==1]
    cloud_df = cloud_df.drop(['channel'], axis=1).add_suffix('_clm')
    merged_df = pd.merge(index_df, cloud_df, left_on ='date', right_on = 'date_clm', how='outer')
    clean_merged_df = merged_df.drop(['channel', 'date_clm'], axis=1)
    return clean_merged_df

In [6]:
# load shapefiles of drone cities

# la trinidad city
la_trinidad = gpd.read_file('drone-cities-shp/Trinidad.shp')

# taytay city
taytay = gpd.read_file('drone-cities-shp/Taytay.shp')

# dumaguete city
dumaguete = gpd.read_file('drone-cities-shp/Dumaguete.shp')

## La Trinidad City

In [20]:
# ndbi
ndbi_request(la_trinidad,'2021-9-01', '2021-9-30','la-trinidad')

,date,min,max,mean,stDev,min_clm,max_clm,mean_clm,stDev_clm
0,2021-09-02,-0.695198,0.888889,-0.176048,0.119696,0.0,1.0,0.849355,0.357703
1,2021-09-04,-0.634984,-0.418499,-0.553335,0.032068,1.0,1.0,1.000000,0.000000
2,2021-09-07,-0.649337,0.320731,-0.171973,0.103052,0.0,1.0,0.735512,0.441060
3,2021-09-09,-0.546069,0.620347,-0.194336,0.126386,0.0,1.0,0.058500,0.234687
4,2021-09-12,-0.626158,-0.580903,-0.605505,0.005968,1.0,1.0,1.000000,0.000000
5,2021-09-14,-1.000000,0.997234,-0.143712,0.130865,0.0,1.0,0.701730,0.457499
6,2021-09-17,-0.448951,0.294647,-0.225183,0.097629,0.0,1.0,0.772453,0.419249
7,2021-09-19,-0.412326,-0.286761,-0.356619,0.025591,1.0,1.0,1.000000,0.000000
8,2021-09-22,-0.514968,0.381995,-0.224790,0.138511,0.0,0.0,0.000000,0.000000
9,2021-09-24,-0.487805,0.731293,-0.210865,0.140767,0.0,1.0,0.020187,0.140639
10,2021-09-27,-0.887931,1.000000,-0.188775,0.125271,0.0,1.0,0.469188,0.499050
11,2021-09-29,-0.825397,1.000000,-0.197170,0.142556,0.0,1.0,0.241143,0.427777

In [21]:
# ndvi
ndvi_request(la_trinidad,'2021-9-01', '2021-9-30','la-trinidad')

,date,min,max,mean,stDev,min_clm,max_clm,mean_clm,stDev_clm
0,2021-09-02,-0.823009,1.000000,0.291812,0.310986,0.0,1.0,0.849355,0.357703
1,2021-09-04,0.011551,0.101209,0.034924,0.010293,1.0,1.0,1.000000,0.000000
2,2021-09-07,-0.269598,1.000000,0.359696,0.298979,0.0,1.0,0.735512,0.441060
3,2021-09-09,-0.586486,1.000000,0.665648,0.215731,0.0,1.0,0.058500,0.234687
4,2021-09-12,0.021204,0.044560,0.030905,0.004684,1.0,1.0,1.000000,0.000000
5,2021-09-14,-0.971429,1.000000,0.369588,0.357378,0.0,1.0,0.701730,0.457499
6,2021-09-17,-0.120186,0.960644,0.534284,0.157529,0.0,1.0,0.772453,0.419249
7,2021-09-19,0.023862,0.152243,0.072808,0.029517,1.0,1.0,1.000000,0.000000
8,2021-09-22,-0.186153,1.000000,0.694927,0.208906,0.0,0.0,0.000000,0.000000
9,2021-09-24,-0.688363,1.000000,0.703575,0.225408,0.0,1.0,0.020187,0.140639
10,2021-09-27,-1.000000,1.000000,0.462797,0.321782,0.0,1.0,0.469188,0.499050
11,2021-09-29,-0.838791,1.000000,0.620097,0.271045,0.0,1.0,0.241143,0.427777

In [22]:
# no2
no_request(la_trinidad,'2021-9-01', '2021-9-30','la-trinidad')

,date,min,max,mean,stDev,min_clm,max_clm,mean_clm,stDev_clm
0,2021-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-09-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-09-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-09-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2021-09-09,0.000025,0.000025,0.000025,0.0,NaN,NaN,NaN,NaN
9,2021-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2021-09-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-09-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2021-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2021-09-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2021-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2021-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2021-09-17,0.000012,0.000012,0.000012,0.0,NaN,NaN,NaN,NaN
17,2021-09-18,-0.000009,-0.000006,-0.000008,0.000001,NaN,NaN,NaN,NaN
18,2021-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2021-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2021-09-21,0.000001,0.000001,0.000001,0.0,NaN,NaN,NaN,NaN
21,2021-09-22,0.000001,0.00002,0.000011,0.000008,NaN,NaN,NaN,NaN
22,2021-09-23,-0.0,0.000023,0.000013,0.000011,NaN,NaN,NaN,NaN
23,2021-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2021-09-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2021-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2021-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2021-09-28,0.000026,0.000026,0.000026,0.0,NaN,NaN,NaN,NaN
28,2021-09-29,0.000017,0.000038,0.000023,0.000006,NaN,NaN,NaN,NaN
29,2021-09-30,0.000019,0.000019,0.000019,0.0,NaN,NaN,NaN,NaN

## Taytay City

In [23]:
# ndbi
ndbi_request(taytay,'2021-9-01', '2021-9-30','taytay')

,date,min,max,mean,stDev,min_clm,max_clm,mean_clm,stDev_clm
0,2021-09-04,-0.758980,1.000000,-0.117261,0.160758,0.0,1.0,0.910295,0.285759
1,2021-09-09,-1.000000,1.000000,-0.111219,0.240020,0.0,1.0,0.276730,0.447382
2,2021-09-14,-1.000000,1.000000,-0.108898,0.256083,0.0,1.0,0.266468,0.442112
3,2021-09-19,-0.707506,-0.650883,-0.685208,0.007289,1.0,1.0,1.000000,0.000000
4,2021-09-24,-1.000000,1.000000,-0.109049,0.252408,0.0,1.0,0.446872,0.497169
5,2021-09-29,-0.817792,0.286923,-0.197468,0.130835,0.0,1.0,0.993380,0.081096

In [24]:
ndvi_request(taytay,'2021-9-01', '2021-9-30','taytay')

,date,min,max,mean,stDev,min_clm,max_clm,mean_clm,stDev_clm
0,2021-09-04,-1.000000,1.000000,0.160070,0.245152,0.0,1.0,0.910295,0.285759
1,2021-09-09,-1.000000,1.000000,0.333559,0.367422,0.0,1.0,0.276730,0.447382
2,2021-09-14,-1.000000,1.000000,0.350490,0.359958,0.0,1.0,0.266468,0.442112
3,2021-09-19,0.002557,0.030049,0.007701,0.002170,1.0,1.0,1.000000,0.000000
4,2021-09-24,-1.000000,1.000000,0.309998,0.359417,0.0,1.0,0.446872,0.497169
5,2021-09-29,-0.202232,0.575242,0.018860,0.098033,0.0,1.0,0.993380,0.081096

In [25]:
no_request(taytay,'2021-9-01', '2021-9-30','taytay')

,date,min,max,mean,stDev,min_clm,max_clm,mean_clm,stDev_clm
0,2021-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-09-02,0.000043,0.000043,0.000043,0.0,NaN,NaN,NaN,NaN
2,2021-09-03,0.000065,0.000091,0.000076,0.000008,NaN,NaN,NaN,NaN
3,2021-09-04,0.000056,0.000083,0.000069,0.000011,NaN,NaN,NaN,NaN
4,2021-09-05,0.000077,0.000077,0.000077,0.0,NaN,NaN,NaN,NaN
5,2021-09-06,0.000073,0.000073,0.000073,0.0,NaN,NaN,NaN,NaN
6,2021-09-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-09-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2021-09-09,0.000049,0.000101,0.000084,0.00001,NaN,NaN,NaN,NaN
9,2021-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2021-09-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-09-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2021-09-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2021-09-14,0.000022,0.000059,0.00004,0.000019,NaN,NaN,NaN,NaN
14,2021-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2021-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2021-09-17,0.000029,0.000036,0.000029,0.000001,NaN,NaN,NaN,NaN
17,2021-09-18,0.000009,0.000009,0.000009,0.0,NaN,NaN,NaN,NaN
18,2021-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2021-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2021-09-21,0.000006,0.000025,0.000015,0.000006,NaN,NaN,NaN,NaN
21,2021-09-22,0.000012,0.000032,0.00002,0.000005,NaN,NaN,NaN,NaN
22,2021-09-23,0.000011,0.000013,0.000012,0.000001,NaN,NaN,NaN,NaN
23,2021-09-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2021-09-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2021-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2021-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2021-09-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2021-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2021-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Dumaguete City

In [26]:
# ndbi
ndbi_request(dumaguete,'2021-9-01', '2021-9-30','dumaguete')

,date,min,max,mean,stDev,min_clm,max_clm,mean_clm,stDev_clm
0,2021-09-01,-0.669095,-0.622295,-0.654575,0.008371,1.0,1.0,1.000000,0.000000
1,2021-09-06,-0.337081,-0.150584,-0.263813,0.026645,1.0,1.0,1.000000,0.000000
2,2021-09-11,-0.400513,0.055707,-0.190158,0.063774,1.0,1.0,1.000000,0.000000
3,2021-09-16,-0.787302,-0.620674,-0.686870,0.032453,1.0,1.0,1.000000,0.000000
4,2021-09-21,-0.558685,0.419669,-0.179268,0.141553,0.0,1.0,0.155899,0.362759
5,2021-09-26,-0.741093,1.000000,-0.155785,0.149982,0.0,1.0,0.530618,0.499062

In [27]:
ndvi_request(dumaguete,'2021-9-01', '2021-9-30','dumaguete')

,date,min,max,mean,stDev,min_clm,max_clm,mean_clm,stDev_clm
0,2021-09-01,-0.006879,0.000910,-0.003288,0.000964,1.0,1.0,1.000000,0.000000
1,2021-09-06,-0.036239,0.234733,0.084779,0.051764,1.0,1.0,1.000000,0.000000
2,2021-09-11,-0.059425,0.742954,0.245805,0.149771,1.0,1.0,1.000000,0.000000
3,2021-09-16,-0.027609,-0.007178,-0.018948,0.002225,1.0,1.0,1.000000,0.000000
4,2021-09-21,-0.253810,1.000000,0.539174,0.289274,0.0,1.0,0.155899,0.362759
5,2021-09-26,-1.000000,1.000000,0.478779,0.306980,0.0,1.0,0.530618,0.499062

In [28]:
no_request(dumaguete,'2021-9-01', '2021-9-30','dumaguete')

,date,min,max,mean,stDev,min_clm,max_clm,mean_clm,stDev_clm
0,2021-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-09-02,0.000006,0.000026,0.000018,0.00001,NaN,NaN,NaN,NaN
2,2021-09-03,-0.000013,0.000011,-0.000011,0.000005,NaN,NaN,NaN,NaN
3,2021-09-04,-0.000008,0.0,-0.000006,0.000003,NaN,NaN,NaN,NaN
4,2021-09-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-09-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-09-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-09-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2021-09-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2021-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2021-09-11,-0.000001,0.000004,0.000001,0.000002,NaN,NaN,NaN,NaN
11,2021-09-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2021-09-13,0.000006,0.000014,0.00001,0.000002,NaN,NaN,NaN,NaN
13,2021-09-14,0.000014,0.000014,0.000014,0.0,NaN,NaN,NaN,NaN
14,2021-09-15,0.000003,0.000007,0.000004,0.000002,NaN,NaN,NaN,NaN
15,2021-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2021-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2021-09-18,0.000012,0.000019,0.000014,0.000003,NaN,NaN,NaN,NaN
18,2021-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2021-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2021-09-21,-0.000008,0.000011,0.000007,0.000006,NaN,NaN,NaN,NaN
21,2021-09-22,0.000002,0.000013,0.000011,0.000003,NaN,NaN,NaN,NaN
22,2021-09-23,-0.0,0.000014,0.000005,0.000005,NaN,NaN,NaN,NaN
23,2021-09-24,0.000003,0.000013,0.000009,0.000005,NaN,NaN,NaN,NaN
24,2021-09-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2021-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2021-09-27,0.000008,0.000011,0.000011,0.0,NaN,NaN,NaN,NaN
27,2021-09-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2021-09-29,-0.000004,0.000002,-0.000002,0.000001,NaN,NaN,NaN,NaN
29,2021-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN